@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  background-color: #f2f8fd;
  color: rgb(255, 255, 255);
  background: url("https://images.unsplash.com/photo-1526289034009-0240ddb68ce3?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  background-color: #f2f8fd10;
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  flex-direction: column;
  padding: 2%;
}

.heading {
  display: flex;
  align-items: center;
  height: 580px;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 8rem;
  height: 3rem;
  opacity: 1;
  background-color: #ffffff19;
  border: none;
  margin-top: 30px;
}
.button span {
  color: #ffffff;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.7px;
}
.button:hover {
  animation: rotate 0.7s ease-in-out both;
}
.button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    height: 30%;
  }
}
